<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <h1 class="text-center mb-4">パスワードリセット</h1>
      
      <form action="<%= password_reset_path(params[:token]) %>" method="post">
        <!-- Authenticity Token -->
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <!-- Patch Method Spoofing -->
        <input type="hidden" name="_method" value="patch">

        <% if @user&.errors&.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@user.errors.count, "エラー") %>が発生しました：</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="form-group">
          <label for="user_password">新しいパスワード</label>
          <input type="password" name="user[password]" id="user_password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="user_password_confirmation">新しいパスワードの確認</label>
          <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" required>
        </div>
        <div class="form-group text-center">
          <input type="submit" value="更新" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>