<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <!-- 左側のお問い合わせ先 -->
      <div class='col-sm-6 col-12'>
        <div class='contact-info'>
          <p>お問い合わせ先: kkparade62@gmail.com</p>
        </div>
      </div>
      <!-- 右側の利用規約、プライバシーポリシー -->
      <div class='col-sm-6 col-12 text-sm-end text-center'>
        <div class='policy-links'>
          <ul class='list-inline mb-0'>
            <li class='list-inline-item'>
              <%= link_to '利用規約', terms_path %>
            </li>
            <li class='list-inline-item'>
              <%= link_to 'プライバシーポリシー', privacy_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>